.cursor {
  cursor: pointer;
}

.user-icon {
  padding: 4px 14px;
}

.header-spacer {
  flex: 1 1 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

:host {
  padding: 10px;
  width: 100%;
  display: flex;
}
