<mat-card class="mat-elevation-z24">
  <mat-card-title style="text-align:center">Your information</mat-card-title>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label="General">
      <mat-card-content>Identity: </mat-card-content>
      <mat-card-content>FirstName: </mat-card-content>
      <mat-card-content>LastName: </mat-card-content>
      <mat-card-content>Department: </mat-card-content>
    </mat-tab>
    <mat-tab label="Dates">
      <mat-card-content>BirthDate: BLABLA</mat-card-content>
      <mat-card-content>HireDate: BLABLA</mat-card-content>
      
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" class="edit-button">Edit</button>
</mat-card>