:host {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.center {
  text-align:center;
}

mat-card {
  margin: 10% auto;
  border-radius: 8px;
}

p {
  font-size: 15pt;
}

mat-card-content {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.edit-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
} 
