@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #edebe9;
}

a {
  color: #fff;
  text-decoration: none;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  transform: translateY(-0.7em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
}
