<h1>Selected department: {{tempString$ | async}}</h1>

<mat-card>
    <mat-card-title class="center">User Profile</mat-card-title>
    <mat-card-content *ngIf="currentUser$ | async as user; else emptyUser">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="General">
                <div class="center font">
                    <p>Identity: {{ user.identity }}</p>
                    <p>FirstName: {{ user.firstName }}</p>
                    <p>LastName: {{ user.lastName }}</p>
                    <p>Department: {{ user.department.name }}</p>
                    <p>
                        Roles: <span *ngFor="let role of user.roles"> {{ role }} </span>
                    </p>
                </div>
            </mat-tab>
            <mat-tab label="Dates">
                <p class="center font" *ngFor="let date of user.dates">{{ date.name }}:
                    {{ date.date | date: 'longDate' }}</p>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<ng-template #emptyUser>
    <mat-card-content class="center">
        User is not defined
    </mat-card-content>
</ng-template>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veritatis provident animi impedit cumque itaque ut
    commodi, repellendus aut deserunt id accusantium, minima magnam ipsam. Nesciunt culpa amet sequi fugiat?
    Quas magnam corrupti modi dicta sapiente, iusto consequuntur at quod voluptatibus mollitia nisi quae numquam atque
    labore maiores neque quis, tempora perspiciatis. Cum exercitationem consequuntur delectus qui, ipsum asperiores
    ipsa?
    Consequuntur delectus autem ducimus maiores expedita, tempora aliquid quod quasi beatae a veniam hic eligendi minus
    nulla provident laudantium officiis, ad incidunt, quidem eum ab rem cum qui. Sequi, quia.
    Culpa debitis dignissimos, quos aperiam eligendi corporis non illum qui eveniet? Minima nisi officia molestias,
    ipsam, illo odio illum sapiente a eligendi maiores, nam exercitationem in quo voluptate magnam aliquam?
    Voluptas nemo blanditiis vitae porro maxime est, eligendi facere ipsum impedit? Eos similique laborum repudiandae
    sint dolorem dolore iure, molestias accusantium eligendi qui et praesentium tempora libero aperiam harum doloremque!
    Recusandae dolorum modi accusantium vitae laboriosam voluptatibus explicabo tempora. Eius nihil dicta officia nisi
    reiciendis quo odio nemo porro doloremque consequatur magnam maiores velit sapiente est, deleniti quibusdam soluta
    iste?
    Perspiciatis ea cupiditate facilis, rerum vel, eos provident dolorum debitis impedit sint ut. Iure porro ex, sit rem
    accusamus a. Nesciunt ex, atque necessitatibus sunt hic voluptates delectus doloremque sapiente?
    Optio cumque, non fugiat tempora rem minus minima temporibus qui perspiciatis. Natus corporis minima error nulla
    ipsum. Molestias ad est voluptas necessitatibus error incidunt rem! Dignissimos et ut rerum tempore?
    Voluptatibus, consequuntur asperiores ex quasi voluptatem laudantium accusantium eligendi quisquam veritatis eius
    aliquam enim incidunt perspiciatis illum iusto quo repellendus facilis eveniet quae sunt quibusdam natus itaque
    quas! Veniam, vitae.
    Itaque ipsum, voluptatibus distinctio a sapiente voluptates? Illo laborum aspernatur enim cum neque! Debitis, fugiat
    magnam rem ratione quo, error repellat, dolor ducimus enim facilis laborum fugit et itaque rerum!
    Quae, quibusdam commodi. Eaque amet magnam provident rem labore culpa iure dicta ex sequi quam. Itaque odio dolorem
    eos consequuntur tempora beatae quisquam, officia, maiores molestiae nulla porro, doloremque incidunt.
    Eos laudantium eius voluptate minima quia, et inventore placeat odit porro obcaecati reprehenderit eveniet molestiae
    nobis ea ipsam expedita temporibus exercitationem illum asperiores nihil maiores iusto magnam explicabo. Ipsa,
    harum!
    Mollitia quaerat recusandae iusto beatae tempora voluptatem. Ipsum facilis sit perspiciatis magni quas amet sunt
    nam, debitis, asperiores et, id saepe itaque repellat omnis consequatur eos corporis commodi repudiandae fuga.
    Ut voluptates nulla ipsa, quaerat maiores cupiditate quasi quae explicabo saepe, quia atque itaque delectus?
    Eligendi aliquam eum laborum voluptas, eaque, ullam necessitatibus provident aperiam dignissimos laudantium quaerat
    quibusdam nisi?
    Unde qui quia, corrupti perferendis reprehenderit praesentium ipsam cumque sequi. Dolor amet in beatae sapiente sed
    fugit ipsa maiores voluptatum commodi earum a, corporis soluta nihil hic ipsum, sint quas!
    Tempora dolorum rerum praesentium distinctio quis, enim ab quisquam facere molestias animi accusamus eaque minima
    illum repellendus odio obcaecati quam quod non nihil minus molestiae reiciendis libero. Possimus, nam velit.
    Eum, voluptates dolorem rerum accusamus distinctio tempore qui quidem illo saepe labore tempora quam perferendis
    iusto perspiciatis dolorum asperiores possimus ea sunt doloribus optio. Et officiis officia molestiae inventore
    obcaecati.
    Repellat debitis sequi voluptatibus praesentium eaque nesciunt ipsum iste voluptas? Necessitatibus dicta recusandae
    quia consectetur atque asperiores dolor iure suscipit modi aliquam fuga, et voluptatum? Laboriosam accusamus nobis
    veritatis magni?
    Facilis voluptatum autem iure expedita quasi optio, id fugiat modi facere, obcaecati architecto. Cum pariatur a
    vitae expedita soluta, alias asperiores, ea quae id voluptatem assumenda laudantium officiis impedit aliquid.
    Eos, odit dolorum repudiandae nobis a vel ipsam, impedit earum blanditiis ad autem. Numquam aut ratione porro
    quisquam quasi neque unde beatae hic velit, magnam vitae dignissimos, nobis maiores voluptas?
    Adipisci, consectetur. Labore debitis nostrum ipsam, aperiam ex alias delectus cumque qui vero ea nihil maiores
    mollitia voluptatibus vitae tenetur, consequuntur quisquam blanditiis iusto! Unde ab culpa eius illo quo.
    Omnis facilis sit suscipit harum incidunt temporibus reprehenderit quas voluptatum impedit sint magnam, distinctio
    dolore mollitia excepturi adipisci tempora natus recusandae exercitationem explicabo. Sunt modi necessitatibus
    dolorem, temporibus praesentium repellendus?
    Laboriosam itaque tenetur ipsam ullam dolorum laudantium vero ab ex harum vitae quae, reiciendis quo accusantium
    aliquam consequatur in ducimus dolor sapiente aperiam hic obcaecati exercitationem fugit doloremque error. Cum?
    Fugit accusamus error expedita aspernatur pariatur cupiditate ad, numquam eaque, mollitia aliquid molestias!
    Delectus inventore illum accusamus deleniti officia quasi, quaerat ab. Assumenda labore nemo atque totam sunt
    inventore ducimus.
    Assumenda autem deserunt omnis! Tempore reprehenderit excepturi ex! Optio modi officia ex? Mollitia iure, dolore
    repellat tempora repudiandae quo totam dolorum corporis velit cupiditate? Ex optio velit ipsa alias natus.
    Suscipit labore voluptate tenetur velit quia veniam repellat, doloribus in cumque tempora a eveniet saepe? Magni
    aspernatur corrupti id temporibus saepe? Optio illo minus amet ut officia nulla quidem velit.
    Et nemo dolor ducimus, ratione quam repellendus itaque excepturi earum numquam consequatur? Natus, dolorum sequi.
    Voluptatum fugit ea praesentium in animi illo perferendis itaque eum, asperiores beatae explicabo vitae ad!
    Impedit, consequatur commodi eum repellat explicabo laboriosam accusantium voluptatibus velit fugit rem reiciendis
    odio natus assumenda quaerat eveniet. Consequuntur magni incidunt soluta dolorum repellendus molestias quidem?
    Adipisci dolores expedita unde!
    Fuga consequuntur sed reprehenderit quibusdam expedita, rem odit voluptate dolore quis, tempore, enim esse. Fugiat
    vitae, nostrum suscipit dolor velit maiores impedit, sit voluptatum, reiciendis ipsum earum quas qui libero.
    Exercitationem labore ipsam tempore quasi fugit sed consectetur illo, esse voluptatem architecto corrupti velit
    eveniet eum voluptates quia rem assumenda maiores sequi est vero mollitia, earum distinctio? Eveniet, tempora nobis!
    Officia tempore quae distinctio quis, optio a veritatis corporis veniam, voluptate voluptatem nemo voluptatum
    impedit fuga enim, quisquam unde qui! Incidunt veritatis rem dolore blanditiis facere? Ab cumque neque dolore.
    Autem accusantium labore quis nesciunt provident! Corrupti, eius! Cum minus, animi veritatis delectus quam aliquam
    repellendus voluptatem modi beatae corrupti porro voluptas sapiente blanditiis tempora laborum repudiandae expedita
    dicta omnis.
    Ab esse a alias adipisci delectus itaque repellendus exercitationem assumenda, explicabo deleniti officiis officia
    molestias quos minima laborum natus fuga incidunt! Voluptatem quo culpa impedit sed suscipit, corporis doloribus
    molestiae!
    Illum ullam at amet dolor expedita quibusdam esse eaque dignissimos possimus unde necessitatibus totam in molestias,
    voluptate qui vel odit doloremque similique ea sapiente corporis nemo, veniam ipsam culpa! Quaerat.
    Saepe porro, sapiente quaerat corrupti quasi adipisci enim, quas itaque iste voluptas fugiat repellat. Adipisci
    labore nihil repudiandae ratione laudantium deleniti qui. Asperiores ut doloribus molestiae impedit animi quis aut.
    Numquam aut praesentium accusantium ratione, autem totam animi doloremque laborum nemo, blanditiis nostrum
    inventore. Unde maiores aliquam minima! Perferendis soluta aspernatur expedita odio numquam assumenda, aliquid error
    omnis sit quisquam!
    Necessitatibus ducimus corrupti beatae. Rerum ex facilis consectetur quos, iure ut nulla expedita, laudantium
    blanditiis autem impedit. Magnam minus, perspiciatis unde voluptatibus reprehenderit nesciunt quibusdam nemo
    consequatur, rem, quia temporibus.
    Commodi eius laborum ullam voluptatum totam adipisci distinctio quia laboriosam, voluptates, minima nam iste
    dignissimos in recusandae hic veritatis ipsam tempore quas? Blanditiis assumenda excepturi vel dicta beatae,
    molestias quod!
    Sed quae harum aliquid nihil eveniet modi nemo ipsum officiis nesciunt qui incidunt temporibus voluptatum illo
    eligendi, in distinctio. Libero quas porro dolores officia, quia quam officiis unde iure explicabo.
    Ad commodi totam praesentium aliquid labore quaerat, magnam, earum, distinctio provident facere molestiae
    accusantium odit sequi! Temporibus suscipit eum necessitatibus facere? Nesciunt animi voluptatem repellat velit
    nobis omnis, unde similique!
    Optio aperiam saepe incidunt quasi temporibus atque dolore aut, consequatur architecto veritatis maiores, officia
    numquam fugit ut voluptatibus. Laudantium dolorum adipisci delectus est rerum voluptas, eaque labore cupiditate sed
    veniam?
    Voluptates, itaque consequuntur mollitia velit dolore earum magnam assumenda odio consectetur minus quas animi
    consequatur nemo placeat vel a esse iste iusto, ducimus magni laudantium quasi. Voluptate explicabo odio qui.
    Exercitationem amet atque provident, modi veniam id maxime impedit eum, assumenda inventore nesciunt alias sed
    adipisci et. Explicabo culpa quae repudiandae nisi nemo. Nihil sed blanditiis ex enim quaerat velit.
    Officia ad fugit assumenda consectetur voluptatem, quod, distinctio ex eius laborum molestiae iste optio sint libero
    asperiores porro! Id quisquam reiciendis nemo voluptatum facilis nulla harum tenetur distinctio provident
    voluptatem!
    Reiciendis qui eius fugit explicabo corporis blanditiis deserunt odio veritatis molestiae magni nisi quibusdam
    possimus nam eligendi, animi recusandae ex amet vel similique a nostrum! Magni fugiat rerum odit nostrum.
    Obcaecati provident in veritatis nesciunt exercitationem fugiat ullam expedita! Cumque placeat aliquid perferendis
    consequatur illo dolorum sunt veritatis voluptatem maxime, voluptas et officiis earum cupiditate doloremque odit
    modi aliquam dolor.
    Minus suscipit ullam laudantium voluptates atque porro delectus quos, blanditiis cupiditate voluptatum debitis dolor
    natus ipsum quas totam officia nemo minima qui eius. Perferendis incidunt vero, minus minima rem necessitatibus.
    Laborum eius id qui perspiciatis esse, saepe natus porro doloremque quis dolor velit provident accusamus amet enim
    fuga. Nisi commodi temporibus officiis optio nulla sunt tenetur dolorum laboriosam consequuntur repellendus.
    Alias porro mollitia eveniet perspiciatis, assumenda possimus quae vel ab omnis officia rem? Iure harum a maxime,
    pariatur rerum architecto quod dolore iusto, ullam reprehenderit repudiandae dicta totam suscipit atque.
    Quae fugit sint reprehenderit maiores deserunt hic, incidunt neque quisquam error omnis nesciunt quod distinctio
    ipsam, laudantium voluptatum rem illum voluptatibus esse et. Fuga, iusto dolorem consectetur saepe perspiciatis ad?
</p>